<h2 class="pull-left">Listing Orders</h2>
<%= render 'shared/nav' %>
<hr>
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Orders Awaiting Delivery
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Compartment#</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Selection</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order.order_compartment %></td>
                <td><%= order.customer_name %></td>
                <td><%= order.customer_phone %></td>
                <td><%= order.giveaway_selection %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!-- end div table -->
  </div><!-- end col-lg-9 -->
  <div class="col-lg-3 col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Orders Queued for a compartment:
      </div>

      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order.customer_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- end table responsive -->
    </div>

  </div><!-- end col-lg-3 -->
</div><!-- end row -->

