<ul class="nav nav-pills navbar-right">
  <li role="presentation" class="<%= active(dwl.admin_path) %>">
    <%= link_to 'Dashboard', admin_path %>
  </li>

  <li role="presentation" class="<%= active(dwl.admin_users_path) %>">
    <%= link_to dwl.admin_users_path do %>
      Users
      <span><%= Dwl::User.count %></span>
    <% end %>
  </li>
</ul>

<div class="clearfix"></div>
