<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= stylesheet_link_tag    "dwl/application", media: "all" %>
  <%= javascript_include_tag "dwl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  .<nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Dwl Engine', dwl.root_path, class: "navbar-brand" %>
      </div>
    </div>
  </nav>

  <div class="container" role="main">
    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>

</body>
</html>
